body {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: white;
}
.titulo-header{
    font-size: 60px;
}
.titulo-header-sub{
    font-size: 20px;
}
.box-glassmorfismo{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 10px;
}
.cursor-botao:hover{
    cursor: url('../../img/ico.png'), auto;
}