<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localizador VIA CEP - Zeronauta </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/src/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                <h1 class="text-center titulo-header">Localizador VIA CEP - Zeronauta</h1>
            </div>
            <div class="col-12 box-glassmorfismo mt-4">
                <h4 class="titulo-header-sub">Sobre o Projeto:</h4>
                <p>
                    Este projeto faz parte do curso de Desenvolvimento Web da Zeronauta.
                    O projeto foi desenvolvido utilizando Flask, Bootstrap e JQuery.
                </p>
            </div>
            <div class="col-12 box-glassmorfismo mt-4 ml-2">
                <h4 class="titulo-header-sub">Como Utilizar?</h4>
                <p>
                    Insira o CEP desejado no campo de texto e aguarde a exibição dos dados relacionados ao CEP
                    O sistema irá buscar as informações do CEP e exibir os resultados.
                </p>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="cep" class="small">Digite aqui o CEP que deseja localizar</label>
                            <input type="text" name="cep" id="cep" class="form-control col-8" data-mask="00000-000"
                                required>
                        </div>
                        <div class="col-md-6 mt-4">
                            <button type="submit" onclick="limpar_tabela_cep"
                                class="btn btn-warning cursor-botao">Localizar Novo Cep</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 mt-4">
            <table class="table table-striped table-dark border border-3">
                <thead>
                    <tr>
                        <th>CEP</th>
                        <th>Rua</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>UF</th>
                        <th>IBGE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <tr>
                        <td id="td-cep"></td>
                        <td id="td-rua"></td>
                        <td id="td-bairro"></td>
                        <td id="td-cidade"></td>
                        <td id="td-uf"></td>
                        <td id="td-ibge"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
    $(document).ready(function () {
        $('input[name="cep"]').mask('00000-000');

        function limpa_tabela_cep() {
            $("#td-cep, #td-rua, #td-bairro, #td-cidade, #td-uf, #td-ibge").text("");
        }

        $("#cep").blur(function () {
            var cep = $(this).val().replace(/\D/g, '');

            if (cep !== "") {
                var validacep = /^[0-9]{8}$/;

                if (validacep.test(cep)) {
                    // Preenche com "..." enquanto carrega
                    $("#td-cep").text(cep);
                    $("#td-rua, #td-bairro, #td-cidade, #td-uf, #td-ibge").text("...");

                    $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {
                        if (!("erro" in dados)) {
                            $("#td-cep").text(cep);
                            $("#td-rua").text(dados.logradouro);
                            $("#td-bairro").text(dados.bairro);
                            $("#td-cidade").text(dados.localidade);
                            $("#td-uf").text(dados.uf);
                            $("#td-ibge").text(dados.ibge);
                        } else {
                            limpa_tabela_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                } else {
                    limpa_tabela_cep();
                    alert("Formato de CEP inválido.");
                }
            } else {
                limpa_tabela_cep();
            }
        });
    });
</script>


</html>